* {
    color: #fff;
    font-family: Roboto, sans-serif;
    overflow: hidden;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    transition-duration: .2s;
    font-weight: 300;
    cursor: default;
}

@-webkit-keyframes weatherFlash {
	0% { opacity: .5 }
	50% { opacity: 1 }
	100% { opacity: .5 }
}

:focus {
	outline: none;
}

.noanimation * {
    transition: none !important;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
	transition: none;
}

#bg {
    height: calc(100% + 80px);
    left: -40px;
    position: fixed;
    top: -40px;
    width: calc(100% + 80px);
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	transition-property: opacity;
}

#header {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 3;
}

#title {
    cursor: default;
    display: inline-block;
    font-size: 60px;
    font-weight: 100;
    margin-top: 20px;
    margin-left: 30px;
}

#container {
    height: 150px;
    left: 50%;
    margin-top: -75px;
    position: absolute;
    top: 50%;
    z-index: 2;
    transition-property: opacity !important;
}

.app {
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(255,255,255,.5),inset 0 -5px rgba(0,0,0,.2);
    cursor: pointer;
    display: inline-block;
    height: 130px;
    margin: 10px;
    transition: all .2s;
    width: 130px;
    background-color: white;
}

.app:hover {
    -webkit-filter: brightness(.8);
}

.app:active {
    -webkit-filter: brightness(1);
}

.cust {
    background-position: center;
    background-size: cover;
    background-color: #fff;
}

::selection {
    background: rgba(0, 0, 0, .3);
    color: #fff;
}

#white {
    background-color: #fff;
    opacity: 1;
    position: absolute;
    transition-property: none;
    width: 0;
    z-index: 5;
	border-radius: 10px;
}

#appbutton {
    opacity: .7;
    background: url("img/search.png");
    background-size: 50px 50px;
    bottom: 20px;
    cursor: pointer;
    height: 50px;
    position: fixed;
    right: 20px;
    transition: all .2s;
    width: 50px;
    z-index: 3;
}

#appbutton:hover {
    opacity: 1;
}

#drawer {
    background: rgba(0,0,0,.5);
    height: 70px;
    left: 0;
    position: absolute;
    top: 100%;
    transition: all .2s;
    width: 100%;
    z-index: 4;
}

#search {
    background: rgba(255,255,255,.6);
    border: none;
    color: rgba(0,0,0,.7);
    font-size: 47px;
    font-weight: 100;
    height: 55px;
    top: 50%;
    left: 50%;
    margin: -27.5px 0 0 -360px;
    padding: 0 0 0 5px;
    position: absolute;
    transition: all .2s;
    width: 720px;
}

#search:focus {
    background: rgba(255,255,255,.9);
    outline: none;
}

#close {
    opacity: .7;
    background: url("img/cross.png") center no-repeat;
    background-size: 40px 40px;
    cursor: pointer;
    height: 50px;
    margin: -25px 20px 0 0;
    position: absolute;
    right: 0;
    top: 50%;
    transition: all .2s;
    width: 50px;
    z-index: 5;
}

#close:hover {
    opacity: 1;
}

::-webkit-input-placeholder {
    color: rgba(0,0,0,.5);
}

#optionbutton {
    opacity: .7;
    background: url("img/options.png");
    background-size: 50px 50px;
    bottom: 20px;
    cursor: pointer;
    height: 50px;
    position: fixed;
    left: 20px;
    transition: all .2s;
    width: 50px;
    z-index: 7;
}

#optionbutton:hover {
    opacity: 1;
}

#options {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 6;
    border: none;
    transition: all .2s;
    margin: 0;
    opacity: 0;
    width:100%;
	overflow: hidden;
	
	top: 0;
	-webkit-transform: rotateX(90deg);
}

.customscrollbars #options::-webkit-scrollbar {
	background: black;
}

#options::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, .3);
}

#closeopts {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 35px;
    width: 35px;
    display: none;
    background: url("img/cross.png") center no-repeat;
    background-size: 35px 35px;
    -webkit-filter: brightness(.7);
    transition: all .2s;
    z-index: 7;
    cursor: pointer;
}

#closeopts:hover {
    -webkit-filter: brightness(.5);
}

#weatherprvw {
    opacity: .7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    height: 50px;
    transition:opacity .2s, background-image 1s !important;
    width: 50px;
    z-index: 3;
    display: none;
    margin: 20px 10px 0 10px;
}

#weatherprvw:hover {
    opacity: 1;
}

#weatherframe {
    position: absolute;
    left: 200%;
    top: 100px;
    height: calc(100% - 200px);
    width: calc(100% - 200px);
    border-radius: 10px;
    background: #fff;
    z-index: 4;
	transition: left .2s;
    border: none;
	overflow: hidden;
}

.weatheropened #weatherframe {
    left: 100px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
}

#weatherframe::-webkit-scrollbar {
    display: none;
}

#topright {
    position: absolute;
    top: 0;
    right: 10px;
    text-align: right;
    z-index: 3;
    width: 500px;
    height: 70px;
}

#fbmsg {
    opacity: .7;
    background: url("img/messenger.png") center no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 50px;
    transition: all .2s;
    width: 50px;
    display: none;
    margin: 20px 10px 0 10px;
}

#fbmsg:hover {
    opacity: 1;
}

#fbnotif {
    opacity: .7;
    background: url("img/notifs.png") center no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 50px;
    transition: all .2s;
    width: 50px;
    display: none;
    margin: 20px 10px 0 10px;
}

#fbnotif:hover {
    opacity: 1;
}

#bbcnews {
    opacity: .7;
    background: url("img/news.png") center no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 50px;
    transition: all .2s;
    width: 50px;
    display: none;
    margin: 20px 10px 0 10px;
}

#bbcnews:hover {
    opacity: 1;
}

#appdrawerframe, #bmdrawerframe, #newsdrawerframe {
    width: 275px;
    height: 0;
    bottom: 70px;
    position: fixed;
    z-index: 3;
    transition: all .2s;
    opacity: 0;
}

#appdrawerframe {
    right: 20px;
}

#actualdrawer {
    overflow-y: auto;
}

#appdrawerframe.opened {
    opacity: 1;
    height: 450px;
}

#appdrawerframe.opened #actualdrawer {
    height: 430px;
}

#drawerarrow, #bmarrow {
    position: absolute;
    bottom: -13px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgba(0,0,0,.5);
    left: 160px;
    transition: all .2s;
}

#appsicon {
    opacity: .7;
    background: url("img/apps.png") center no-repeat;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: all .2s;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 90px;
    z-index: 3;
}

#appsicon:hover {
    opacity: 1;
}

.drawerti {
    color: rgba(255,255,255,.8);
    font-size: 20px;
    text-align: left;
    font-style: italic;
    margin: 20px 0 15px 20px;
    position: relative;
	height: 25px;
}

.draweritem {
    height: 30px;
    width: 185px;
    margin: 5px 15px 5px 15px;
    padding: 12px 10px 1px 50px;
    background-position: left;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    color: rgba(255,255,255,.7);
    font-size: 15px;
    text-align: left;
    transition: all .2s;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.draweritem:hover {
    background-color: rgba(255,255,255,.1);
    color: rgba(255,255,255,.9);
}

a {
    text-decoration: none;
}

.topsite {
    padding: 2px 7px 1px 25px !important;
    width: 210px !important;
    height: 20px !important;
    background-size: 16px 16px;
    background-position: 3px 3px;
}

.storelink {
    text-transform: uppercase;
    font-style: normal;
    font-size: 13px;
    color: rgba(255,255,255,.5);
    position: absolute;
    top: 5px;
    right: 17px;
    cursor: pointer;
    transition: all .2s;
}

.storelink:hover {
    color: rgba(255,255,255,.9);
}

#stumble {
    opacity: .7;
    background: url("img/stumble.png") center no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 50px;
    transition: all .2s;
    display: none;
    width: 50px;
    margin: 20px 10px 0 10px;
}

#stumble:hover {
    opacity: 1;
}

#sidewipe {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    transition: all .2s;
    z-index: 5;
    background: #fff;
}

#bookmarks {
    opacity: .7;
    background: url("img/bookmarks.png") center no-repeat;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: all .2s;
    position: fixed;
    bottom: 20px;
    right: 160px;
    display: none;
    z-index: 3;
}

#bookmarks:hover {
    opacity: 1;
}

#bmdrawerframe {
    right: 48px;
}

#bmdrawerframe.opened {
    opacity: 1;
    height: 450px;
}

#bmdrawer, #actualdrawer {
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: rgba(0,0,0,.5);
}

.opened #bmdrawer {
    height: 430px
}

#bmarrow {
    left: 50%;
    margin-left: -20px;
}

.opened #bmarrow, .opened #drawerarrow {
    bottom: 0;
}

.bmsite {
    margin: 5px 15px 5px 15px;
    background-repeat: no-repeat;
    color: rgba(255,255,255,.7);
    font-size: 15px;
    text-align: left;
    transition: all .2s;
    cursor: pointer;
    white-space: nowrap;
    padding: 3px 7px 0 25px !important;
    width: 210px !important;
    height: 20px !important;
    background-size: 16px 16px;
    background-position: 4px;
    text-overflow: ellipsis;
}

.bmsite:hover {
    background-color: rgba(255,255,255,.1);
    color: rgba(255,255,255,.9);
}

#bmsearch {
    position: absolute;
    left: 50%;
    bottom: 15px;
    width: 245px;
    height: 30px;
    margin: 0 0 0 -125px;
    background: rgba(255,255,255,.3);
    border: none;
    font-size: 20px;
    padding: 0 0 0 5px;
    transition: all .2s;
    color: rgba(0,0,0,.7);
}

#bmsearch:focus {
    outline: none;
    background: rgba(255,255,255,.7);
}

#bookmarkslist {
    overflow-y: auto;
    height: 315px;
}

#bookmarkslist, #newslist {
    -webkit-mask-image: linear-gradient(transparent, black 7px, black calc(100% - 7px), transparent);
}

#bmsearchtip {
    color: rgba(255,255,255,.5);
    width: 200px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0 0 0 -100px;
}

#applist {
    padding: 0 0 10px 0;
}

.drawerapp {
    display: block;
    margin: 0 15px 3px 15px;
}

#newsdrawerframe {
    top: 70px;
    right: 20px;
}

#newsdrawer {
    width: 100%;
    height: 430px;
    position: absolute;
    top: 20px;
    left: 0;
    border-radius: 10px;
    background: rgba(0,0,0,.5);
}

#newsarrow {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgba(0,0,0,.5);
    right: 10px;
    margin-left: -20px;
    transition: all .2s;
}

.news {
    margin: 5px 15px;
    background-repeat: no-repeat;
    color: rgba(255,255,255,.7);
    font-size: 15px;
    text-align: left;
    transition: all .2s;
    cursor: pointer;
    padding: 7px !important;
    width: calc(100% - 44px) !important;
    background-size: 16px 16px;
    background-position: 4px;
    display: block;
}

.news:hover {
    background-color: rgba(255,255,255,.1);
    color: rgba(255,255,255,.9);
}

#newslist {
    overflow-y: auto;
    height: calc(100% - 70px);
}

#tumpost {
    opacity: .7;
    background: url("img/tumpost.png") center no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 50px;
    transition: all .2s;
    width: 50px;
    display: none;
    margin: 20px 10px 0 10px;
}

#tumpost:hover {
    opacity: 1;
}

.optsopened *:not(#bg) {
	opacity: 0 !important;
}

.optsopened #options {
	opacity: .8 !important;
	
	-webkit-transform: rotateX(0);
}

.optsopened #optionbutton {
	opacity: .7 !important;
	-webkit-transform: rotate(-180deg);
}

/*.weatheropened .app {
	opacity:0;
}*/

.optsopened #bg {
    opacity: .2 !important;
}

#bg.dark {
    opacity: .5;
}

.drawerbtns {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 15px;
}

.drawerbtns img {
	height: 27px;
	opacity: .7;
	cursor: pointer;
	vertical-align: middle;
}

.drawerbtns img:hover {
	opacity: 1;
}

#appsearch {
	border: none;
	background: rgba(255, 255, 255, .3);
	color: rgba(0,0,0,.7);
	font-size: 20px;
	width: calc(100% - 30px);
	
	height: 0;
	margin: 0;
	padding: 0 5px;
	opacity: 0;
}

#appsearch:focus {
	background: rgba(255, 255, 255, .7);
}

.appsearch #appsearch {
	margin-top: 10px;
	height: 24px;
	padding: 3px 5px;
	opacity: 1;
}

.appsearch #applist .drawerti {
	height: 65px;
}

input[type="text"] {
	cursor: text;
}

.drawerapp.hidden {
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	opacity: 0;
}

/* custom scrollbars */

.customscrollbars ::-webkit-scrollbar {
	width: 8px;
}

.customscrollbars ::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .2);
	border-radius: 4px;
}

.customscrollbars ::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, .5);
}