@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("roboto-light.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("roboto-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("roboto-bold.woff") format("woff");
}
