/* regular */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: url("Roboto-Thin.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("Roboto-Light.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("Roboto-Regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("Roboto-Bold.woff") format("woff");
}

/* italic */

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    src: url("Roboto-ThinItalic.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: url("Roboto-LightItalic.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("Roboto-Italic.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: url("Roboto-BoldItalic.woff") format("woff");
}