* {
	font-family: Roboto, sans-serif;
	color: #fff;
	text-align: center;
	font-weight: 300;
	box-sizing: border-box;
	text-align: inherit;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	overflow: hidden;
    
    background: transparent !important;
}

::selection {
	background: rgba(0, 0, 0, .3);
	color: inherit;
}

#weather {
	width: 100%;
	position: relative;
	z-index: 3;
	margin: 0 auto;
}

#temp {
	width: 100%;
    padding-left: 175px;
	text-align: left;
	background-repeat: no-repeat;
    background-size: 200px;
    background-position: -15px -25px;
}

#temp h1 {
	font-size: 100px;
	margin: 0;
    letter-spacing: -5px;
}

#temp div {
	font-size: 20px;
    color: rgba(255, 255, 255, .8);
    margin-left: 5px;
    margin-top: -5px;
}

footer {
	color: rgba(255, 255, 255, .5);
	position: relative;
	z-index: 3;
	margin-top: 20px;
	text-align: center;
	font-size: 10px;
}

footer a {
	text-decoration: none;
	color: inherit;
	border-bottom: solid 1px rgba(255, 255, 255, .3);
}