* {
	font-family: Roboto, sans-serif;
	color: #fff;
	text-align: center;
	font-weight: 300;
	box-sizing: border-box;
	text-align: inherit;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 20px;
}

::selection {
	background: rgba(0, 0, 0, .3);
	color: inherit;
}

#dark {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	background: rgba(0, 0, 0, .7);
	display: none;
}

#header-bg {
    width: 100%;
    min-height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: brightness(.7);
}

#weather {
	width: 100%;
	min-height: 300px;
	position: relative;
	z-index: 3;
	margin: 0 auto;
    margin-bottom: 30px;
}

#temp {
	float: right;
    margin-top: 55px;
	width: calc(50% + 200px);
    padding-left: 200px;
	text-align: left;
	background-size: 175px;
	background-repeat: no-repeat;
}

#temp h1 {
	font-size: 120px;
	margin: 0;
}

#temp div {
	font-size: 30px;
	font-weight: 100;
}

#main {
	position: relative;
	z-index: 3;
}

#main ul {
	margin: 0;
	list-style: none;
	padding: 0;
    font-size: 16px;
}

#infos {
	-webkit-column-count: 4;
	-webkit-column-gap: 0;
	-webkit-column-width: 400px;
	padding: 0 20px !important;
}

#infos > li {
	text-align: left;
	background-color: rgba(0, 0, 0, .2);
	margin: 20px 10px;
	margin-top: 0;
	padding: 20px;
	break-inside: avoid-column;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	display: block;
	color: rgba(255, 255, 255, .7);
	border-radius: 10px;
}

#main li * {
	text-align: inherit;
	color: inherit;
}

#main h2 {
	font-weight: 100;
	margin-top: 0;
	color: white;
}

td, th {
	vertical-align: top;
}

#infos table {
	width: 100%;
}

#infos table:not(.incog) tr {
	background-color: rgba(0, 0, 0, .3);
}

#infos table:not(.incog) tr:first-child {
	background-color: rgba(255, 255, 255, .1);
}

#infos table th, #infos table td {
	padding: 10px;
}

#forecast table th, #forecast table td {
	width: calc(100% / 3);
}

#wind {
	height: 150px;
}

#wind .arrow {
	font-size: 50px;
	display: block;
	margin: 0 10px;
	float: left;
	color: white;
}

#wind .details {
	display: block;
	font-size: 20px;
	margin: 0;
	float: left;
	margin-left: 10px;
}

#wind p {
	margin: 0;
}

#details table td, #details table th {
	padding: 5px;
}

#forecast table span {
	display: block;
	font-size: 1.5em;
	margin-bottom: 5px;
}

footer {
	color: rgba(255, 255, 255, .5);
	position: relative;
	z-index: 3;
	margin: 50px 0 20px 0;
	text-align: center;
	font-size: 13px;
}

footer a {
	text-decoration: none;
	color: inherit;
	border-bottom: solid 1px rgba(255, 255, 255, .3);
}

.map {
	width: 100%;
    position: relative;
}

.map .base, .map .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map .overlay {
    opacity: .7;
}

#warnings {
    display: none !important;
}

#warnings div:last-child {
    margin-bottom: 0;
}

#warnings.visible {
    display: block !important;
}

h3 {
    color: white !important;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 5px;
}

.hk_warning {
    background-repeat: no-repeat;
    padding-left: 70px;
    margin-bottom: 15px;
    background-position: left;
}